<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Ingredientes</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
            background-color: #fff;
        }
        th, td {
            padding: 10px;
            border: 1px solid #ccc;
        }
        th {
            background-color: #007bff;
            color: white;
        }
        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
<h1>Lista de Ingredientes</h1>

<table>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Calorías</th>
            <th>Tipo</th>
            <th>Precio</th>
            <th>Stock</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="ing : ${ingredientes}">
            <td th:text="${ing.nombre}">Nombre</td>
            <td th:text="${ing.calorias}">Calorías</td>
            <td th:text="${ing instanceof T(tuti.desi.entidades.Producto) ? 'Producto' : 'Ingrediente'}">Tipo</td>
            <td th:text="${ing instanceof T(tuti.desi.entidades.Producto) ? ing.precioActual : '-'}">Precio</td>
            <td th:text="${ing instanceof T(tuti.desi.entidades.Producto) ? ing.stockDisponible : '-'}">Stock</td>
			

        </tr>
    </tbody>
</table>

</body>
</html>
